
body {
    background-color: #F0F0F0;
    font-family: "Sans-serif", "Helvetica";
    color: #5B90F6;
}

header {
    margin-left: auto;
    margin-right: auto;
    font-family: "Sans-serif", "Helvetica";
    font-size: 40px;
    color: #5B90F6;
    text-align: center;
}

nav {
    margin-top: 25px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    
}

nav ul {
    margin-left: 35px;
}

nav ul li {
    float: left;
    list-style-type: none;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 25px;
    display: inline-block;
    border-bottom: solid;
    border-color: #5B90F6;
}
nav ul li a {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    display: inline-block;
    color: #5B90F6;
    text-decoration: none;
}

nav ul li a:hover {
    color: #27408B;
}

nav ul li:hover {
    border-color: #27408B;
} 

.selected, .selected a {
    color: #2F4F4F;
    border-color: #2F4F4F;
    font-weight: bold;
}

#main p, .welcome {
    font-family: "Sans-serif", "Helvetica";
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color:#5B90F6;
}

#main p {
    font-size: 25px;
    margin-bottom: 60px;
}


#main a {
    color:#5B90F6;
}

#main a:hover {
    color: #27408B;
}

#quote {
    margin-top: 100px;
    font-size: 10px;
}

#contactoptions {
    color:#5B90F6;
    font-size: 25px;
    text-align: center;
}

#main {
    width: 1000px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FAFAFA;
    border: solid;
    border-color: #FAFAFA;
    border-radius: 15px;
    box-shadow: 12px 0 8px -4px #DBDBDB, -12px 0 8px -4px #DBDBDB;
}

#main_movies {
    width: 1000px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FAFAFA;
    border: solid;
    border-color: #FAFAFA;
    border-radius: 15px;
    box-shadow: 12px 0 8px -4px #DBDBDB, -12px 0 8px -4px #DBDBDB;
}

#main_movies p {
    text-align: center;
}

#main_movies a {
    color: #5B90F6;   
}

#main_movies a:hover {
    color: #27408B;
}

#main_movies table tbody tr td {
    width: 318px;
    text-align: center;
}

#main_movies table tbody tr td a {
    color: #5B90F6;
    text-decoration: none;
}

#main_movies table tbody tr td a:hover {
    color: #27408B;
}

#movie_header {
    font-family: "Sans-serif", "Helvetica";
    text-align: center;
    color:#5B90F6;
}

#main_movies hr {
    width: 650px;
    
}

#the_movies {
    margin-left: auto;
    margin-right: auto;
}

#the_movies tr {
    display: block;

}

.not_last {
    border-bottom: 1px solid #A7A7A7;
}


footer {
    width: 100%;
    background-color: #DCDCDC;
    margin-top: 25px;
    text-align: center;
    font-size: 12px;
    color: #5B90F6;
    border-bottom: solid;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-color: #DCDCDC;
}

#contactoptions {
    list-style-type: none;
}

.underline {
    width: 200px;
}

#small_links {
    font-size: 12px;
}

.small_link {
    font-size: 12px;
}