movie_info{
    
}

#movie_table, #movie_trailer{
    margin-left: auto;
    margin-right: auto;
}

#movie_table{
    width: 80%;
}

#movie_trailer{
    display: block;
}

#movie_table h1{
    text-align: center;
}

#movie_table td{
    padding-left: 20px;
}

#movie_table .no_indent{
    padding: 0;
}

.bigText{
    font-weight: bold;
    font-size: larger;
}

#rent_button{
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    color: #FFFFFF;
    background-color: #5b90ff;
    border-radius: 10px;
    text-align: center;
    font-size: x-large;
}

#rent_link{
    text-decoration: none;
}

#rent_button:hover{
    background: -webkit-linear-gradient(rgba(91,144,255,0.75), rgba(91,144,255,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(91,144,255,0.75), rgba(91,144,255,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(91,144,255,0.75), rgba(91,144,255,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(91,144,255,0.75), rgba(91,144,255,1)); /* Standard syntax */
}

#nav_links{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

#searchBox{
    margin-left: auto;
    width: 30%;
    margin-bottom: 20px;
}

#searchBox form{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    color: #5B90F6;
}

#searchBox form button{
    color: #5B90F6;
    padding-right: 10px;
    padding-left: 10px;
}
